/*@media (max-width: 50vh){
  html, body {
    overflow-x: hidden;
  }

  body {
    width: 100%;
  }

  .txtTitle {
    font-weight: 700;
    font-size: 100px;
    margin: 0px;
    letter-spacing: 4px;
  }

  .line {
    display: none;
  }
}*/

/* Tablet & Mobile */
@media (max-width: 1024px) {
  .txtTitle {
    color: green;
  }
  .line, .scroll, #scene {
    display: none;
  }
  .secHead {
    height: 100vh;
  }
}

/* Mobile only */
/* Mindest-Space benötigt um Title zu zeigen ist 300, wird also von mobile abgedeckt */
@media (max-width: 480px) {
  .txtTitle {
    color: red;
  }
}
