/*@media (max-width: 50vh){
  html, body {
    overflow-x: hidden;
  }

  body {
    width: 100%;
  }

  .txtTitle {
    font-weight: 700;
    font-size: 100px;
    margin: 0px;
    letter-spacing: 4px;
  }

  .line {
    display: none;
  }
}*/
/* Mindest-Space benötigt um Title zu zeigen: */
@media (max-width: 796px){
  .txtTitle {
    color: purple;
  }
}

/* Alles darunter tablet? */
@media (max-width: 1024px) {
  .txtTitle {
    color: green;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .txtTitle {
    color: red;
  }
}
