
/*
320px-480px: Mobile devices
481px-768px: iPads, Tablets
769px-1024px: Small screens, laptops
1025px-1200px: Desktops, large screens
1201px and more: Extra large screens, TV
*/

/* Small Screens, Tablets & Mobile */
@media (max-width: 1024px) {

  .line, .scroll, #scene {
    display: none;
  }

  .secHead {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .divSocials {
    margin: 0 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .divSocials a {
    margin: 0 5px 0 5px;
  }

  .divSocials i {
    font-size: 50px;
  }

  .divLogo {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-grow: 2;
  }

  .secAbout {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .txtHeader {
    margin: 30px 0 30px 0;
  }

}

/* Mobile only */
/* Mindest-Space benötigt um Title zu zeigen ist 300, wird also von mobile abgedeckt */
@media (max-width: 515px) {

  .secAbout {
    display: none;
  }

  .secHead {
    align-items: center;
    justify-content: center;
  }

  .divLogo {
    text-align: center;
    flex-grow: 0;
    margin-bottom: 50px;
  }

  .txtTitle {
    font-size: 12vw;
  }

  .txtSubtitle {
    font-size: 7vw;
  }

  .divSocials {
    margin: 0 50px 50px 50px;
  }

  .divSocials i {
    font-size: 15vw;
  }

}
