body {
    background-color: black;
    color: white;
    font-family: monospace;
}

a {
    color: white;
    text-decoration: none;
}

#rows {
    width: calc(100% - 160px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

img {
    max-width: 300px;
    margin: 10px;
    cursor: pointer;
}