:root {
  --color1: #0054db;
  --light: #4D88E6;
  --color1trans: rgba(0,84,219,0.5);
  --color2: #141e5c;
  --white: #ffffff;
  --grey: rgba(1,1,1,0.6);
}

/* Allgmein */
body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /*Amimation*/
  background: linear-gradient(180deg, var(--color1), var(--color2));
  /*background: linear-gradient(0deg, #0054db, #db0000);*/
	background-size: 100% 100%;
	/*animation: gradient 20s ease infinite;*/
}

/* Fancy Animation */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Text */

p {
  font-weight: 300;
  font-size: 25px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

.txtHeader {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/*

Header

*/

.secHead {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.divLogo {
  margin-left: 15vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  flex-grow: 2;
}

.logotxt {
  align-self: center;
}

.divTitle {
  margin: 0;
  display: inline-block;
}

#logo {
  width: 150px;
  height: 150px;
}

.txtTitle {
  font-weight: 700;
  font-size: 60px;
  margin: 0px;
  letter-spacing: 4px;
}

.txtSubtitle {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 0px;
}

.txtHeader span {
  color: rgba(255, 255, 255, 0.3);
}

/*

Header: Social-Media

*/

.divSocials {
  margin-right: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.divSocials a {
  font-weight: 500;
  color: var(--light);
}

.divSocials i {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@-webkit-keyframes blackWhite {
  0% {color: var(--light)};
  100% (color: var(--white));
}

.divSocials a:hover {
  color: white;
  -webkit-animation-name: blackWhite;
  -webkit-animation-duration: 0.5s;
}

.n0j0games {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.n0j0games img {
  height: 30px;
  margin-right: 15px;
}

/*

About & Project allg

*/

.secAbout {
  width: 100vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 90vh;
  background-image: url(images/prog.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subsecAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.secProjectsTitle {
  /*margin-top: 70px;
  padding-top: 130px;
  padding-bottom: 200px;
  width: 100%;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  /*background-color: var(--grey);*/
  color: var(--white);
}

.line {
  width: 2px;
  height: 80vh;
  background-color: var(--white);
  border-radius: 5px;
}

/*

About

*/

.aboutText {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.aboutName {
  font-weight: 700;
  font-size: 30px;
}

.aboutImg {
  width: 50px;
  margin-right: 15px;
  border-radius: 10px;
}

.aboutTitle {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer {
  margin-top: 70px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer a {
  font-weight: 300;
  font-size: 15px;
}

.footer span {
  margin-left: 10px;
  margin-right: 10px;
}

.aboutSections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutLeft {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  text-align: left;
}

.aboutRight {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  text-align: right;
}

h3 {
  margin: 0;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

h4 b {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.bottom {
  margin-top: 100px;
}

.bottom a {
  font-size: 15px;
  font-weight: 300;
}

/*

Projects-Allgemein

*/


.secProjects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divProject {
  margin: 20px;
  width: 320px;
  height: 180px;
  background-color: #222222;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--white);
  align-self: center;
  position: relative;
  background-size: cover;
}

.divFooter {
  background-color: var(--color1trans);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 50px;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.divFooter a {
  font-weight: 500;
  font-size: 20px;
  height: 20px;
}

.pSubinfos {
  font-weight: 300;
  font-size: 0px;
  color: #dddddd;
  font-style: italic;
  margin-bottom: 5px;
}

.pDescription {
  font-weight: 300;
  font-size: 0px;
  color: var(--white);
  text-align: center;
}

.divProject .divFooter {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  filter: alpha(opacity=100);
  opacity: 0;
  zoom: 1;
  height: 100%;
}

.divProject:hover .divFooter {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* Einzelne Footer */

#proj1 {
  background-image: url(images/perfman2.png);
}

#proj2 {
  background-image: url(images/prototype.png);
}

#proj3 {
  background-image: url(images/smashteroid.png);
}

#proj4 {
  background-image: url(images/palettebin.png);
}

/*

Cookies

*/

.cookies {
  position: fixed;
  right: 50px;
  top: 50px;
  display: inline;
  padding: 10px;
  margin: 0;
  background: none;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  transition: opacity 0.5s ease-in-out;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
}

.cookies:active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.cookies:hover i:before {
  content : "\f564";
}

.cookiesTxt {
  display: inline;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}

.cookiesBefore {
  display: inline;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}

.cookies:hover .cookiesTxt:before {
  content: "CLICK TO DISMISS";
}

.cookies:hover .cookiesBefore {
  display: none;
}

i {
  margin: 0;
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle;
}


/*

Scroll-Icon

*/

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.scroll img {
  width: 70px;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: linear-gradient(0deg, var(--color1), #db0000);
  background: var(--color1);
	background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/*


Parallax


*/

#scene{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
}

.paraimg{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
}

#img-1{
  z-index: -1;
}

#img-2{
  z-index: -2;
  opacity: 90%;
}

#img-3{
  z-index: -3;
  opacity: 80%;
}

#img-4{
  z-index: -4;
  opacity: 60%;
}
