:root {
    --white: #ffffff;
    --light1: #C0CBDC;
    --light2: #8B9BB4;
    --mid: #5A6988;
    --dark2: #3A4466;
    --dark1: #262B44;
    --darkOpacity: #3A446622;
    --link: #FF0044;
    --background: #181425;
    --color1: #E86A73;
    --color2: #BC4A9B;
    --color3: #793A80;
    --font-tiny: 0.8em;
    --font-tinyuppercase: 0.9em;
    --font-small: 1em;
    --font-regular: 1.2em;
    --font-medium: 1.5em;
    --font-large: 2.3em;
    --font-title: 3em;
}

@font-face {
    font-family: "Makisupa";
    src: url("fonts/makisupa.ttf");
    /* src: https://www.dafont.com/makisupa.font */
}

html, body {
    overflow: hidden;
}

body, a, p, button {
    font-family: 'Makisupa', sans-serif;
    font-weight: 100;
    text-align: center;
}

#title {
    font-family: 'Makisupa', serif;
    color: var(--color1);
    filter: drop-shadow(4px 4px 0px var(--color3));
    font-size: 50px;
    font-weight: 700;
}
p {
    margin: 5px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#mainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#midContent {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    z-index: 1;
}

#leftContent {
    /*position: fixed;
    left: 0;*/
    width: 300px;
    align-items: flex-start;
    height: 100%;
    cursor: pointer;
}

#rightContent {
    display: flex;
    flex-direction: column;
    /*position: fixed;
    right: 0;*/
    align-items: center;
    justify-content: center;
    height: 100%;
}

#subtitle {
    color: var(--light1);
    font-size: 30px;
}

#subtitle a {
    text-decoration: none;
    color: var(--light2)
}

#subtitle a:hover {
    color: var(--color1);
}

#char {
    width: 120px;
    height: 120px;
    pointer-events: none;
}

/*
    About/IRL Section
*/

.toggleMid, .toggleMidBack {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color2);
    font-size: var(--font-regular);
}

.toggleMid:hover, .toggleMidBack:hover {
    color: var(--color1);
} 

.toggleMid {
    margin-top: 20px;
}

#toggleMidDisabled {
    color: var(--mid);
}

#toggleMidEnabled {
    display: none;
}

#toggleMidDisabled:hover {
    color: var(--mid);
}

.toggleMidBack {
    margin-bottom: 10px;
}

#aboutme, #current {
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    flex-wrap: wrap;
}

.aboutMeClass {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: var(--darkOpacity);
    border: 3px dotted var(--mid);
}

#spotify {
    padding: 10px 10px 10px 10px;
}

#irl_movies {
    padding: 10px 10px 0px 10px;
}

#irl_skills, #irl_frameworks {
    padding: 10px;
}

#irl_about {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#irl_about_bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.irl_about_text {
    text-align: left;
    color: var(--light2);
}

#irl_about img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    object-fit: cover;
    margin: 5px 20px;
    pointer-events: none;
    border: 3px solid var(--color3);
}

#irl_about_right {
    max-width: 300px;
    padding-right: 20px;
}

#aboutMeControls {
    padding: 5px 10px;
    background-color: var(--dark1);
    border-radius: 5px;
    width: 180px;
    margin-top: 10px;
}

#aboutMeControls button {
    border: none;
    margin: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
}

#aboutMeControlMusic {
    background: url("images/irl_icons/music.png");
}

#aboutMeControlMusic:hover {
    background: url("images/irl_icons/music_active.png");
    background-size: cover;
}

#aboutMeControlMovies {
    background: url("images/irl_icons/movies.png");
}

#aboutMeControlMovies:hover {
    background: url("images/irl_icons/movies_active.png");
    background-size: cover;
}

#aboutMeControlBooks {
    background: url("images/irl_icons/books.png");
}

#aboutMeControlBooks:hover {
    background: url("images/irl_icons/books_active.png");
    background-size: cover;
}

#aboutMeControls img {
    width: 50px;
    height: 50px;
}

.aboutMeSub {
    display: flex;
    flex-direction: row;
}

#irlMovieSub {
    transform: translateX(20px);
}

#spotifySub {
    padding-left: 40px;
    transform: translateX(-30px);
}

#spotifyRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 15px 5px;
}

#spotifyImg {
    transform: rotate(-5deg);
    width: 100px;
    height: 100px;
    pointer-events: none;
}

#irlMoviesRight {
    width: 170px;
    height: 180px;
    padding: 5px 20px 5px 0px;
    transform: translateX(-10px);
}

#irlMoviesTicket {
    transform: rotate(5deg);
    height: 160px;
    pointer-events: none;
}

#irlMoviesImage {
    position: relative;
    transform: rotate(5deg);
    height: 135px;
    width: 110px;
    right: -1px;
    top: -150px;
    z-index: -2;
    object-fit: contain;
    pointer-events: none;
}

#irlMoviesAvatar {
    position: relative;
    right: -50px;
    top: -220px;
    width: 100px;
    height: 100px;
    z-index: 1;
    object-fit: contain;
    pointer-events: none;
}

#irlMoviesRating {
    margin: 15px 0 0 0;
    display: inline-block;
    color: var(--color2);
    text-decoration: none;
}

#irlMoviesRating:hover {
    color: var(--color1);
}

#irlMoviesRating:hover i {
    color: var(--color1);
}

#irlMoviesStars i {
    color: var(--color2);
}

#vinyl {
    position: relative;
    top: -92px;
    right: 50px;
    z-index: -2;
    pointer-events: none;
}

#spotifyImgDiv {
    margin: 0 0 0 50px;
    width: 110px;
    height: 110px;
}

#vinyl img {
    width: 90px;
    height: 90px;
    -webkit-animation: rotating 15s linear infinite;
    pointer-events: none;
}

#spotifyImgSmall {
    filter: contrast(50%);
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    top: 45px;
    right: 45px;
    z-index: -3;
    pointer-events: none;
}

#spotifyDivSmall {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: -3;
    background-color: white;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

#spotifyArtist {
    margin: 0 0 2px 0;
}

#irlMoviesBy {
    margin: 0;
}

#irlMoviesYear {
    margin: 0;
}

#spotifyArtist, #irlMoviesBy, #irlMoviesYear {
    color: var(--mid);
    font-size: var(--font-small);
}

#spotifyAlbum {
    margin: 0 0 2px 10px;
    text-align: left;
}

#irlMoviesTitle {
    margin: 0;
}

#spotifyAlbum, #irlMoviesTitle {
    color: var(--color2);
    max-width: 500px;
    font-size: var(--font-medium);
    text-decoration: none; 
}

#spotifyAlbum:hover {
    color: var(--color1);
}

.midText {
    color: var(--color2);
    font-size: var(--font-regular);
}

.aboutMeUpperTitle {
    color: var(--light1);
    font-size: var(--font-small);
    margin: 0 0 20px 0;
}

#aboutMeUpperAbout {
    margin: 0 0 10px 0;
}

#spotifyTitle {
    margin: 0 0 0 12px;
    text-align: left;
}

#spotifyTitle {   
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#spotifyTitle i {
    font-size: var(--font-small);
    margin: 0 10px 0 0;
}

.midSpotify {
    color: var(--mid);
    font-size: var(--font-small);
}

#irl_skills_parts {
    display: flex;
    flex-direction: row;
}

.irl_skills_part {
    margin: 0px 5px;
}

.irl_skills_sub {
    display: flex;
    
}

.irl_skills_sub p {
    font-size: var(--font-small);
    color: var(--light2);
    flex-grow: 2;
    text-align: right;
}

.irl_skills_sub img {
    height: 25px;
    pointer-events: none;
}

.irl_subdiv {
    margin: 5px 5px 10px 5px;
    font-size: var(--font-small);
    color: var(--light2);
    text-align: left;
}

.irl_subdiv p {
    margin: 0;
    color: var(--color2);
    text-align: left;
    font-size: var(--font-regular);
}

#irl_frameworks_sub {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.framework i {
    font-size: 30px;
    color: var(--light1);
}

.framework p {
    color: var(--light2);
    font-size: var(--font-small);
    margin: 0 5px;
}

@keyframes framework-color-html {
    from {color: var(--light2);}
    to {color: var(--color2);}
}

.framework:hover p, .framework:hover i {
    color: var(--color2);
    animation: framework-color-html 0.5s;
}

#irl_music {
    padding: 10px;
}

#irlMusicAlbums {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}

.irlAlbum {
    position: relative;
    width: 80px;
    height: 80px;
}

.irlAlbum img {
    width: 80px;
    height: 80px;
    pointer-events: none;
}

.irlAlbum p {
    position: absolute;
    bottom: -8px;
    left: calc(50% - 11px);
    background-color: var(--color3);
    color: var(--white);
    padding: 3px;
    margin: 0;
    width: 16px;
    height: 16px;
    font-size: 14px;
    border-radius: 5px;
}

.irlAlbum:hover {
    cursor: pointer;
}

.irlAlbum:hover p {
    background-color: var(--color1);
}

#irlMusicboard {
    color: var(--color2);
    text-decoration: none;
    margin: 10px;
}

#irlMusicboard:hover {
    color: var(--color1);

}

#irlMusicTitle {
    color: var(--light2);
    font-size: var(--font-small);
}

/*
    Pixel-Art
*/

.pixelArt {
    transform: translateX(-30px);
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px var(--mid));
}

#pixelArt0 {
    left: -40px;
    transform: rotate(-5deg);
    z-index: 1;
    top: 32%;
}

#pixelArt1 {
    left: -50px;
    top: 48%;
    transform: rotate(20deg);
    z-index: 2;
}

#pixelArt2 {
    left: 0;
    top: 40%;
    transform: rotate(-15deg);
    z-index: 3;
}

#arrowLeft {
    position: absolute;
    top: 60%;
    left: 100px;
    width: 120px;
    height: 120px;
}

#arrowLeftText {
    position: absolute;
    top: 67%;
    left: 220px;
}

#arrowLeftText:hover {
    color: var(--color1);
}

#arrowRight {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 120px;
    height: 120px;
}

#arrowRightText {
    position: absolute;
    top: 53%;
    right: 120px;
}

#mobile {
    display: none;
}

.link a {
    text-decoration: none;
    color: var(--light2);
    text-align: right;
    margin-right: 10px;
    flex-grow: 2;
}

.link:hover a {
    color: var(--color1);
}

.link {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-font-size: 16px;
    font-size: 25px;
    max-font-size: 40px;
}

.link img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    pointer-events: none;
}

#pixelArtMobile {
    display: none;
}

#socials {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
}

#socials img {
    width: 70px;
    height: 70px;
}

#img-0-mobile, #img-1-mobile, #img-2-mobile, #img-3-mobile, #img-4-mobile {
    display: none !important;
}

@media (max-width: 1100px){

    #img-0-mobile, #img-1-mobile, #img-2-mobile, #img-3-mobile, #img-4-mobile {
        display: none !important;
    }

    #img-0, #img-1, #img-2, #img-3, #img-4 {
        display: none !important;
    }

    .toggleMid, .toggleMidBack {
        display: none;
    }

    #mobile {
        display: flex;
    }

    body, html {
        overflow-x: hidden;
        height: auto;
    }

    html {
        overflow-y: auto;
    }

    body {
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: hidden;
        background-image: url("images/misc/space_layered.png");
    }

    #mainContent {
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        flex-grow: 0;
    }

    #title {
        width: auto;
        font-size: 40px;
        filter: drop-shadow(3px 3px 0px var(--color3));
    }

    #subtitle {
        font-size: 20px;
    }

    #midContent {
        opacity: 1 !important;
        flex-grow: 0;
        bottom: 300px;
        margin: 30px;        
    }

    #leftContent {
        display: none;
    }

    #rightContent a {
        text-align: center;
        width: auto;
    }

    #pixelArtMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        cursor: pointer;
        margin-bottom: 50px;
    }

    #pixelArtMobile img {
        width: 100px;
        height: 100px;
        transform: rotate(-5deg);
        margin-right: 20px;
        filter: drop-shadow(0px 0px 5px var(--mid));
    }

    .link  {
        justify-content: flex-start;
        width: auto;
    }

    #aboutme, #current {
        opacity: 1 !important;
        position: relative;
        flex-direction: column;
        z-index: 1;
    }

    #aboutme {
        margin: 10px 10px 0 10px;
    }

    #current {
        margin: 0 10px 10px 10px;
    }

    #spotifyAlbum {
        font-size: 22px;
    }

    .aboutMeClass {
        width: calc(100vw - 80px);
    }

    #irl_skills_parts {
        flex-direction: column;
    }

    #spotifySub {
        padding-left: 0px;
        transform: translateX(-80px);
        width: calc(100% + 70px);
    }

    #irl_movies {
        padding: 10px;
    }

    #irlMovieSub {
        transform: translateX(0px);
        width: calc(100% + 100px);
    }

    #irlMoviesAvatar {
        top: -210px;
        right: -20px;
    }

    #album-4, #album-5 {
        display: none;
    }
    
    #irl_about_bot {
        flex-direction: column;
    }

    .irl_subdiv, .irl_subdiv p {
        text-align: center;
    }

    #irl_about_right {
        padding: 0;
    }

    #irl_frameworks_sub {
        flex-direction: column;
    }

    .framework {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

}

/*
    Scrollbar
 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(0deg, var(--dark2), #db0000);
    background: var(--dark2);
    background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
    background: var(--mid);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light1);
}