:root {
    --white: #ffffff;
    --light1: #C0CBDC;
    --light2: #8B9BB4;
    --mid: #5A6988;
    --dark2: #3A4466;
    --dark1: #262B44;
    --link: #FF0044;
    --background: #181425;
    --color1: #E86A73;
    --color2: #BC4A9B;
    --color3: #793A80;
    --font-tiny: 1em;
    --font-small: 1.2em;
    --font-regular: 1.5em;
    --font-medium: 2em;
    --font-large: 2.3em;
    --font-title: 3em;
}

@font-face {
    font-family: "Mungil";
    src: url("fonts/Mungil-Regular.ttf");
    /* Source: https://www.dafont.com/de/mungil.font */
}

@font-face {
    font-family: "Maybe Next";
    src: url("fonts/Maybe-Next.ttf");
    /* Source: https://www.dafont.com/de/maybe-next.font */
}

@font-face {
    font-family: "With My Woes";
    src: url("fonts/WithMyWoes.ttf");
}

@font-face {
    font-family: "Makisupa";
    src: url("fonts/makisupa.ttf");
}

body, a, p, button {
    font-family: 'Makisupa', monospace;
    font-weight: 100;
    text-align: center;
    overflow: hidden;
}

#title {
    font-family: 'Makisupa', monospace;
    color: var(--color1);
    filter: drop-shadow(4px 4px 0px var(--color3));
    font-size: 50px;
    font-weight: 700;
}
p {
    margin: 5px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#mainContent {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#midContent {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#leftContent {
    /*position: fixed;
    left: 0;*/
    width: 300px;
    align-items: flex-start;
    height: 100%;
    cursor: pointer;
}

#rightContent {
    display: flex;
    flex-direction: column;
    /*position: fixed;
    right: 0;*/
    align-items: center;
    justify-content: center;
    height: 100%;
}

#subtitle {
    color: var(--light1);
    font-size: 30px;
}

#subtitle a {
    text-decoration: none;
    color: var(--light2)
}

#subtitle a:hover {
    color: var(--color1);
}

#char {
    width: 75px;
    height: 150px;
}

/*
    Spotify
*/

#spotify {
    position: absolute;
    bottom: 10px;
    display: none;
    flex-direction: column;
}

#spotifySub {
    transform: translateX(-50px);
    display: flex;
    flex-direction: row;
}

#spotifyRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 15px 5px;
}

#spotifyImg {
    transform: rotate(-5deg);
    width: 120px;
    height: 120px;
}

#vinyl {
    position: relative;
    top: -111px;
    right: 60px;
    z-index: -2;
}

#spotifyImgDiv {
    margin: 0 0 0 50px;
    width: 130px;
    height: 130px;
}

#vinyl img {
    width: 110px;
    height: 110px;
    -webkit-animation: rotating 15s linear infinite;
}

#spotifyImgSmall {
    filter: contrast(50%);
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    top: 45px;
    right: 45px;
    z-index: -3;
}

#spotifyDivSmall {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: -3;
    background-color: white;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

#spotifyArtist {
    color: var(--mid);
    font-size: var(--font-small);
    margin: 0 0 2px 0;
}

#spotifyAlbum {
    color: var(--light2);
    max-width: 500px;
    font-size: var(--font-medium);
    margin: 0 0 2px 10px;
    text-decoration: none;
    text-align: left;
}

#spotifyAlbum:hover {
    color: var(--color1);
}

.midText {
    color: var(--color2);
    font-size: var(--font-small);
}

#spotifyListeningTo {
    font-size: var(--font-small);
    margin: 0 0 20px 0;
}

#spotifyTitle{
    margin: 0 0 0 12px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
}

#spotifyTitle i {
    font-size: var(--font-small);
    margin: 0 10px 0 0;
}

.midSpotify {
    color: var(--mid);
    font-size: var(--font-small);
}

/*
    Pixel-Art
*/

.pixelArt {
    transform: translateX(-30px);
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#pixelArt0 {
    left: -40px;
    transform: rotate(-5deg);
    z-index: 1;
    top: 32%;
}

#pixelArt1 {
    left: -50px;
    top: 48%;
    transform: rotate(20deg);
    z-index: 2;
}

#pixelArt2 {
    left: 0;
    top: 40%;
    transform: rotate(-15deg);
    z-index: 3;
}

#arrowLeft {
    position: absolute;
    top: 60%;
    left: 100px;
    width: 120px;
    height: 120px;
}

#arrowLeftText {
    position: absolute;
    top: 65%;
    left: 220px;
}

#arrowRight {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 120px;
    height: 120px;
}

#arrowRightText {
    position: absolute;
    top: 53%;
    right: 120px;
}

#mobile {
    display: none;
}

.link a {
    text-decoration: none;
    color: var(--light2);
    text-align: right;
    margin-right: 10px;
    flex-grow: 2;
}

.link:hover a {
    color: var(--color1);
}

.link {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-font-size: 16px;
    font-size: 25px;
    max-font-size: 40px;
}

.link img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

#pixelArtMobile {
    display: none;
}

@media (max-width: 900px){

    #mobile {
        display: flex;
    }

    body {
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #mainContent {
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        flex-grow: 0;
    }

    #title {
        width: auto;
        font-size: 40px;
    }

    #subtitle {
        font-size: 20px;
    }

    #midContent {
        flex-grow: 0;
        bottom: 300px;
    }

    #leftContent {
        display: none;
    }

    #rightContent a {
        text-align: center;
        width: auto;
    }

    #pixelArtMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        cursor: pointer;
        margin-bottom: 50px;
    }

    #pixelArtMobile img {
        width: 100px;
        height: 100px;
        transform: rotate(-5deg);
        margin-right: 20px;
    }

    .link  {
        justify-content: flex-start;
        width: auto;
    }

    #spotify {
        position: relative;
        margin: 100px;
        flex-direction: column;
    }

    #vinyl {
        display: none;
    }

}

/*
    Scrollbar
 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(0deg, var(--dark2), #db0000);
    background: var(--dark2);
    background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
    background: var(--mid);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light1);
}