:root {
    --background: black;
    --text: white;
}

html, body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

a, p, h1 {
    color: var(--text);
    margin: 0;
}

button, input, a {
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(0deg, var(--text), #db0000);
    background: var(--background);
    background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}