:root {
  --blue: #2D8CFF;
  --white: #fff;
  --light: #5E8CA7;
  --mid: #1C2C35;
  --dark: #111A20;
  --ok: #3E8948;
  --notok: #2c4554;
  --notok2: #A22633;
  --red: #E74C3C;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Barlow', sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

button, input,select,option {
  font-family: 'Barlow', sans-serif;
}

button {
  outline: none;
  text-decoration: none;
  background-color: var(--mid);
  color: var(--light);
  border-radius: 5px;
  box-shadow: none;
  border: none;
  padding: 5px;
  margin-left: 10px;
}

button:hover {
  color: var(--white);
}


.table {
  width: 1000px;
  /*outline: solid green 1px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.row {
  flex-grow: 2;
  width: 100%;
  /*outline: solid red 1px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerItem {
  height: 50px;
  width: 100%;
  text-align: center;
}

.headerItem p, .leftItem p {
  font-weight: 700;
  font-size: 14px;
}

.leftItem {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.empty {
  /*outline: solid var(--mid) 1px;*/
}

.item {
  border: solid var(--mid) 1px;
  min-height: 140px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.placeholderTxt {
  color: var(--light);
  font-size: 14px;
}

.moduleTxt {
  font-weight: 300;
  font-size: 18px;
  margin: 0 10px;
}

.subTxt {
  margin: 3px;
  font-size: 14px;
  font-weight: 700;
}

.locationTxt {
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  opacity: 50%;
  margin: 0 10px 5px 10px;
}

.moduleTime {
  display: none;
}

.zoomIcon {
  border: solid white 2px;
  background-color: var(--blue);
  color: var(--white);
  padding: 8px;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
}

.zoomIcon:hover {
  background-color: var(--white);
  color: var(--blue);
}

.zoomIconDisabled {
  border: solid white 2px;
  background-color: var(--light);
  color: var(--white);
  padding: 8px;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
}

/*
Fächer
 */

.modules {
  margin: 0 40px 0;
}

.moduleItem{
  margin: 10px;
}

.moduleTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  display: inline-block;
}

.moduleLink {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--mid);
  padding: 8px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.moduleLink:hover {
  color: var(--dark);
  background-color: var(--white);
}

#ekvv { margin: 0; }

.points {
  margin: 0 40px 0 40px;
  align-items: center;
}

.scala {
  max-width: 300px;
  margin: 10px;
  outline: solid 2px var(--mid);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scalaMain {
  width: calc(100% - 10px);
  padding: 5px;
  background-color: var(--mid);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scalaPercentage {
  color: var(--white);
  margin: 0 5px 0 0;
  font-weight: 700;
}

.scalaTitle {
  color: var(--white);
  margin: 0 5px;
  font-weight: 300;
  flex-grow: 1;
}

.scalaSub {
  margin: 8px 10px 8px 0;
  width: calc(100% - 10px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.scalaPoints {
  width: 100%;
  margin: 2px 0;
  text-align: right;
}

.notes {
  max-width: 600px;
  margin: 0 50px 0 50px;
  padding: 10px;
  outline: dotted var(--mid) 2px;
  color: var(--light);
}

.sommersemester {
  position: fixed;
  right: 80px;
  top: 10px;
  background-color: var(--light);
  padding: 5px;
  color: white;
  margin: 10px;
  outline: solid var(--light) 1px;
  text-decoration: none;
  font-weight: bold;
}

.kalenderwoche {
  position: fixed;
  right: 10px;
  top: 10px;
  color: var(--light);
  padding: 5px;
  outline: solid var(--light) 1px;
  margin: 10px;
  background-color: var(--dark);
}

#refresh {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 5px;
  margin: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: solid var(--light) 2px;
  border-radius: 5px;
}

#refresh:hover {
  background-color: var(--red);
  border: none;
}

/*
Tests
 */

.tests {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 50px 0 50px;
}

.testsColumn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.testsHeader {
  width: 100px;
  margin:0;
  font-weight: 500;
  color: var(--light);
}

.testsColumn p {
  width: calc(100% - 10px);
  padding: 5px;
  margin:0;
  border: solid 1px var(--mid);
}

/*
Task
 */

.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 40px 0 40px;
}

.task {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task button, .submit {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-color: transparent;
  border: solid var(--light) 2px;
  border-radius: 5px;
}

.task button:hover, .submit:hover {
  border: solid var(--ok) 2px;
  background-color: var(--ok);
}

.task button:hover i {
  color: var(--white);
}

.taskTitle {
  margin: 0 5px;
  font-weight: 500;
  flex-grow: 1;
}

.taskDate {
  margin: 0 0 0 5px;
  color: var(--light);
}

.outdatedDate {
  color: var(--notok2);
}

.outdated {
  color: var(--red);
}

.showJSONpart {
  background-color: transparent;
  border-radius: 0;
  border: solid var(--light) 3px;
  padding: 10px;
  margin: 50px;
  font-weight: 700;
  font-size: 14px;
}

.showJSONpart:hover {
  border: solid white 3px;
  border: solid white 3px;
  color: white;
}

.taskInput {
  margin: 5px;
  display: flex;
  align-items: center;
}

.taskInput input, select, option {
  outline: none;
  background-color: transparent;
  color: var(--white);
  border: solid var(--mid) 2px;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
}

.taskInput input::placeholder {
  color: var(--light);
}

.noTasks {
  color: var(--ok);
  margin-left: 10px;
}

option {
  background-color: var(--dark);
}

#titleInput {
  width: 300px;
}

#dateInput {
  width: 60px;
  text-align: center;
  margin-left: 5px;
}

.scalaInput {
  width: 50px;
}


.title {
  margin: 40px 0 30px 50px;
  font-weight: 700;
  font-size: 18px;
  color: var(--light);
  border-top: solid var(--mid) 1px;
  padding: 10px 0;
}

#upperTitle {
  margin: 50px 0 30px 50px;
}

/*
Mobile
 */

@media (max-width: 1000px) {

  .table {
    width: 100%;
  }

  .modules {
    margin-top: 20px;
  }

  .moduleItem{
    margin: 10px;
  }

}

@media (max-width: 600px){

  .moduleTime {
    display: block;
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    opacity: 50%;
    padding: 2px;
    outline: dotted var(--white) 1px;
  }

  .table {
    flex-wrap: wrap;
  }

  .item {
    padding: 8px 0;
    min-height: 0;
  }

  .leftRow {
    display: none;
  }

  .modules {
    margin: 40px 10px;
  }

  .points {
    margin: 40px 10px 0 10px;
    align-items: center;
  }

  .notes {
    max-width: 600px;
    margin: 40px 10px;
  }

  .moduleLink {
    padding: 8px;
    display: inline-block;
    margin: 3px;
    border-radius: 10px;
    text-decoration: none;
  }

  .moduleItem {
    margin: 20px 10px;
  }

  .moduleTitle {
    margin: 3px;
  }

  .title {
    text-align: center;
    margin: 40px 0 20px 0;
  }

  #upperTitle {
    margin: 50px 0 20px 0;
  }

  .taskInput {
    display: none;
  }

}

/*
Scroll
 */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(0deg, var(--dark), #db0000);
  background: var(--dark);
  background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
  background: var(--mid);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}

/*
Fächerzuordnung
 */

.tut {
  outline-offset: -5px;
}

.mathe {
  background-color: #0069aa;
}

.matheTut {
  background-color: transparent;
  outline: solid #0069aa 5px;
}

.gsi {
  background-color: #33984b;
}

.gsiTut {
  background-color: transparent;
  outline: solid #33984b 5px;
}

.gnn {
  background-color: #93388f;
}

.gnnTut {
  background-color: transparent;
  outline: solid #93388f 5px;
}

.sgp {
  background-color: #0098dc;
}

.sgpTut {
  background-color: transparent;
  outline: solid #0098dc 5px;
}

.de {
  background-color: #cc4125;
}

.deTut {
  background-color: transparent;
  outline: solid #cc4125 5px;
}

.bs {
  background-color: #da8021;
}

.bsTut {
  background-color: transparent;
  outline: solid #da8021 5px;
}

.lr {
  background-color: #ea323c;
}

.techfak {
  background-color: #BC4A9B;
}

.lrplus {
  background-color: #ff5000;
}

.video {
  background-color: #33984b;
}

.dropbox {
  background-color: #0099DB;
}

.matrix {
  background-color: #1ABC9C;
}

.redmine {
  background-color: #FF77A8;
  color: black;
}

.jenkins {
  background-color: #1D2B53;
}