:root {
    --background: black;
    --text: white;
    --blue: #9db3c7;
    --darkblue: #4f7598;
}

html, body {
    /*background-image: url("https://static.qobuz.com/images/covers/46/74/0060252747446_600.jpg");
    background-size: 100%;
    background-color: #9db3c7;*/
    color: var(--text);
    margin: 0;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

a, p, h1 {
    color: var(--text);
    margin: 0;
}

button, input, a {
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(0deg, var(--text), #db0000);
    background: var(--background);
    background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

#backgroundBlur {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000AA;
    backdrop-filter: blur(10px);
}

#mainSection {
    position: absolute;
    z-index: 2;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 50px 0;
}

#albumInfo {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#albumImg {
    width: 300px;
    filter: drop-shadow(0px 0px 30px black);
    margin: 10px;
}

#albumSubInfo {
    z-index: 3;
    margin: 15px 0 0 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#albumTitle {
    text-align: center;
    font-size: 27px;
    font-weight: 900;
    margin: 0;
}

#albumArtist {
    font-size: 20px;
    margin: 0 0 30px 0;
}

#albumDate {
    font-size: 20px;
}

#fullRating {
    margin: 50px 0 0 0;
    font-size: 30px;
    border-radius: 100px;
    border: 1px dotted white;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#actualRating {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.song {
    margin: 7px;
    font-size: 15px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.songCredits {
    max-width: 300px;
}

.songName, .songRating {
    font-weight: 700;
    font-size: 20px;
}

.songRating {
    margin: 0 0 0 50px;
    flex-grow: 2;
    text-align: right;
}

.songName {
    margin: 0 2px 0 0;
}

#backarrow {
    position: fixed;
    left: 20px;
    top: 20px;
    border: 1px solid #FFFFFF88;
    color : #FFFFFF88;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backarrow:hover {
    border: 1px solid white;
    color : white;
}

@media (max-width: 900px) {

    #mainSection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #actualRating {
        width: calc(100% - 50px);
    }

    .song {
        margin: 7px 0;
    }

}