:root {
  --color1: #0054db;
  --light: #4D88E6;
  --color1trans: rgba(0,84,219,0.5);
  --color2: #141e5c;
  --white: #ffffff;
  --grey: rgba(1,1,1,0.6);
}

/* Allgmein */
body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--color2);
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}

h1 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

.impressum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  height: 100vh;
}

.subsection {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
}

#version {
  color: var(--light);
  margin-bottom: 50px;
}

#haftung {
  color: var(--light);
  margin-top: 50px;
}

#HAFT {
  font-size: 15px;
}

.icon {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translateX(-25px);
}
