:root {
    --background: #09070d;
    --background2: #181425;
    --background3: #262B44;
    --green0: #265C42;
    --green1: #3E8948;
    --red0: #A22633;
    --red1: #E43B44;
    --text: white;
    --text2: #5A6988;
}

html, body {
    background-color: var(--background);
    color: var(--text);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

a, p, h1 {
    color: var(--text);
    margin: 0;
}

button, input, a {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: transparent;
    margin: 0;
}

.title {
    font-size: 16px;
    padding: 15px;
    font-weight: 700;
    color: var(--text2);
}

.greenTitle {
    font-weight: 700;
    color: var(--green1);
}

.outermobile {
    width: 400px;
    height: 800px;
    background-color: var(--background2);
    display: flex;
    flex-direction: column;
}

.upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--green0);
    padding: 20px 0;
}

.upperTitle {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
}

.upperSubtitle {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
}

.upperSubtitle span {
    font-weight: 500;
}

.upperMoney {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}

.prev {
    background-color: var(--background3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
}

.item i {
    margin: 0 0 0 15px;
    color: var(--text2);
}

.item i:hover {
    color: var(--red1);
}

.itemLine {
    background-color: var(--background3);
    height: 1px;
    width: 100%;
}

.prevTitle, .itemTitle {
    flex-grow: 1;
}

.prevMoney, .itemMoney {
    color: var(--text2);
    font-weight: 500;
}

.positiveColor {
    color: var(--green1);
}

.negativeColor {
    color: var(--red1);
}

.list {
    flex-grow: 1;
}

.lower {
    background-color: transparent;
    border: solid var(--background3) 2px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lowerTitle {
    color: var(--white);
    flex-grow: 1;
    font-size: 15px;
    font-weight: 300;
}

input::placeholder {
    color: var(--text2);
}

.lowerMoney {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    text-align: right;
    margin:0;
}

.lowerEuroSign {
    color: var(--text2);
    font-size: 18px;
    font-weight: 700;
    margin: 0 5px 3.5px 0;
}

.lower button {
    color: var(--text2);
    font-size: 20px;
}

.lower button:hover {
    color: var(--white);
}

@media (max-width: 800px){
    body {
        display: block;
        background-color: var(--background2);
    }

    .title {
        display: none;
    }

    .copyright {
        display: none;
    }

    .outermobile {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
}