body {
  overflow-x: hidden;
  background-color: #181425;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}

@font-face {
  font-family: "Dimitri";
  src: url("dimitri.ttf");
  /* Source: https://www.dafont.com/de/dimitri.font */
}

.mobiletitle {
  display: none;
}

.fullscreen {
  min-height: 58vh;
  width: 60vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20vh 20vw;
}

.titlediv {
  position: fixed;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 40px;
  color: #8b9bb4;
  font-family: 'Dimitri';
  cursor: pointer;
  text-shadow: solid white 2px;
  text-decoration: none;
  margin: 0 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 6px;
}

.library {
  margin-bottom: 5px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
  color: #8b9bb4;
}

.library i {
  margin-right: 10px;
}

.palettes {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.palette {
  display: inline;
  width: 80px;
  padding: 10px;
  text-align: center;
  background-color: #555555;
  /*border-radius: 5px;
  border: solid 2px white;
  margin: 10px;*/
  text-decoration: none;
}

.palette:hover {
  /*box-shadow: 0 0 5px white;*/
  /*box-shadow: inset 0 0 5px #000000;*/
}

.paletteTitle {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.mark {
  color: #8b9bb4;
  margin-left: 5px;
  margin-right: 5px;
}

.author {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  color: #8b9bb4;
}

.tagcode {
  font-weight: 700;
  color: white;
  font-size: 15px;
  margin: 0;
}

.tagcodeBlack {
  font-weight: 700;
  font-size: 15px;
  color: black;
  margin: 0;
}

.tagspan {
  font-weight: 300;
  margin: 0 5px 0 0;
}

#addColor {
  width: auto;
  margin: 10px;
  color: white;
}

#addColor i {
  margin: 0;
  font-size: 15px;
}

.colorInput {
  width: 60px;
  background: none;
  color: #ffffff;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

#inputPalette {
  border-radius: 5px;
  border: solid 1px white;
  width: auto;
  text-decoration: none;
  display: inline;
  padding: 10px 7px 10px 7px;
  text-align: center;
}

#tagWhite {
  color: white;
  margin-left: 5px;
}

#closeColor {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
  color: #8b9bb4;
}

#submitColor {
  color: white;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
}


#newPalette {
  font-size: 14px;
  color: #8b9bb4;
  cursor: pointer;
}

/*

  Color-Information

*/

.colorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.color {
  margin: 10px;
  color: #8b9bb4;
  cursor: pointer;
}

.colorBtn {
  width: 35px;
  height: 35px;
  color: #8b9bb4;
  border: solid 2px #8b9bb4;
  font-weight: 700;
  margin: 10px 10px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.colorBtn i {
  font-size: 20px;
  margin: 0;
}

.colorBtn:hover {
  color: #ffffff;
  background-color: #8b9bb4;
  cursor: pointer;
}

#colorCopy {
  margin: 0 0 0 20px;
}

#colorDel:hover {
  color: #ffffff;
  background-color: #B13E53;
  border: solid 2px #B13E53;
  margin-left: 5px;
  cursor: pointer;
}

.subColor {
  margin: 5px;
  font-weight: 700;
}

.nameColor {
  margin: 10px;
  font-weight: 700;
  color: #8b9bb4;
}

.colorPreview {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  box-shadow: 0 0 20px black;
}

/* Copy URL */

#copyURL {
  position: fixed;
  top: 50px;
  right: 50px;
  height: 35px;
  color: #8b9bb4;
  font-weight: 700;
  margin: 10px 10px 10px 5px;
  display: flex;
  padding: 2px 10px 2px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #8b9bb4;
}

#copyURL:hover {
  color: #181425;
  border: solid 2px #8b9bb4;
  background-color: #8b9bb4;
  cursor: pointer;
}

/* COPY RESPONSE */

#responseTrue {
  position: fixed;
  left: 50vw;
  top: 10px;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #76d667;
  color: #181425;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  animation-name: copyAnim;
  animation-duration: 2s;
  opacity: 0%;
}

@keyframes copyAnim {
  0% {opacity: 0%}
  25% {opacity: 100%}
  75% {opacity: 100%}
  100% {opacity: 0%}
}

/*

LIBRARY

*/

#library {
  min-height: 58vh;
  width: 90vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5vw;
  padding-top: 15vh;
  padding-right: 5vw;
}

.libEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.libTitle {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 0 20px 0 0;
}

.libAuthor {
  color: #8b9bb4;
  font-size: 20px;
  font-weight: 300;
  margin: 0 20px 0 0;
}

.libColor {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#libSubtitle {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 10px;
}

/*

GENERATOR

 */

.gen {
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slidersub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slidertxt {
  margin-bottom: 5px;
}

.slidertxtSub {
  margin-top: 5px;
  color: #8b9bb4;
}

/* The slider itself */
.slider {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 25px; /* Specified height */
  background: #262B44; /* Grey background */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
  width: 5vw;
}

#hueRange {
  background: linear-gradient(to right, red, yellow, green, cyan, blue, magenta, red);
  width: 20vw;
}

#genBtn {
  border-radius: 10px;
  background: #262B44;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  color: white;
  border: none;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 15px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}